
body {
    background-color: bisque;
    color:rgb(14, 14, 86);
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color:rgb(14, 14, 86)
}

img {
    max-width: 100%;
}

.header{
    text-align: center;
    font-size: x-large;}

.main-menu{
    position: absolute;
  right: 10px;
  width: 200px;
  border: 3px solid;
  padding: 0;
}

.greeting{
    font-family: cursive;
}

.footer{
    background-color: rgb(14, 14, 86);
    color:bisque;
}

@media screen and (max-width: 550px) {
    .main-menu{
        position:relative;
        margin:auto;
        left: 0;
        right: 0;
        line-height: 2;
    }}

 @media screen and (max-width: 550px) {
    .intro{
        padding:10px
    }
 }
        
.form{
    width:50%;
    margin: 10px;
}

.portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height:max-content;
    padding:25px;
    border-radius: 50%;
}

.typewriter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:max-content;
    padding-bottom: 10px;
}

label{
    display: block;
    margin: 10px
}

.form-input{
    display:block;
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    border: 2px solid gray
}

.form-input:focus{
    outline:none;
    border: 2px solid black
}

[type="submit"]{
    width:50%;
    background:rgb(14, 14, 86);
    color:bisque;
    font-size:large;
    border:0;
    cursor:pointer;
    margin-bottom:10px;
    padding: 8px;
    position: relative;
    left: 10px
}

[type="submit"]:hover,
[type="submit"]:focus{
    background: navy
}

textarea{
    height:100px;
    resize:vertical
}

.error{
    border:red
}

.error-message{
    color:red
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

.intro{
    padding: 70px 0;
    text-align: center;
}

.license{
    width:100px;
    height:20px
}